In [52]:
import pandas as pd
import numpy as np

In [38]:
midx = pd.MultiIndex(levels=[['lama', 'cow', 'falcon'],['speed', 'weight', 'length']],
                     labels=[[0, 0, 0, 1, 1, 1, 2, 2, 2], [0, 1, 2, 0, 1, 2, 0, 1, 2]])
midx

MultiIndex(levels=[['lama', 'cow', 'falcon'], ['speed', 'weight', 'length']],
           labels=[[0, 0, 0, 1, 1, 1, 2, 2, 2], [0, 1, 2, 0, 1, 2, 0, 1, 2]])

In [39]:
df = pd.DataFrame(index=midx, columns=['big', 'small'],
 data=[[45, 30], [200, 100], [1.5, 1], [30, 20],
 [250, 150], [1.5, 0.8], [320, 250],
 [1, 0.8], [0.3,0.2]])
df

                 big  small
lama   speed    45.0   30.0
       weight  200.0  100.0
       length    1.5    1.0
cow    speed    30.0   20.0
       weight  250.0  150.0
       length    1.5    0.8
falcon speed   320.0  250.0
       weight    1.0    0.8
       length    0.3    0.2

In [40]:
arrays = [['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
 ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']]

In [41]:
tuples = list(zip(*arrays))

In [42]:
tuples

[('bar', 'one'),
 ('bar', 'two'),
 ('baz', 'one'),
 ('baz', 'two'),
 ('foo', 'one'),
 ('foo', 'two'),
 ('qux', 'one'),
 ('qux', 'two')]

In [44]:
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])

In [45]:
index

MultiIndex(levels=[['bar', 'baz', 'foo', 'qux'], ['one', 'two']],
           labels=[[0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 0, 1, 0, 1, 0, 1]],
           names=['first', 'second'])

In [50]:
s = pd.Series(np.random.randn(8), index=index)
s

first  second
bar    one       0.779706
       two       0.379080
baz    one       1.065171
       two       1.292729
foo    one      -1.951395
       two       0.351879
qux    one      -0.446920
       two      -0.722655
dtype: float64

first  second
bar    one       0.779706
       two       0.379080
baz    one       1.065171
       two       1.292729
foo    one      -1.951395
       two       0.351879
qux    one      -0.446920
       two      -0.722655
dtype: float64